// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$lovely-purple: rgb(207, 0, 207);
$lovely-dark-purple: rgb(131, 42, 255);
$lovely-orange:#FD7A5E;
$lovely-light-orange: #fcac9a;
